.form-part {
  padding: 0 48px;
}

.data-select-container {
  --panel-height: calc(var(--max-height) - var(--label-height, 0px) - 216px);

  :global {
    .data-select-container-footer {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
}

.city-select-container {
  --panel-height: calc(var(--max-height) - var(--label-height, 0px) - 216px - 70px);
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 1);
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.list-item {
  background: #FFFFFF;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  :global {
    .adm-list {
      --border-top: none;
    }

    .adm-button-danger {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: var(--adm-font-size-6);
    }
  }
}

.list-btn {
  padding: 0;
  font-size: var(--adm-font-size-6);
}

.popup-form-body {
  &:global(.adm-popup-body-position-left), &:global(.adm-popup-body-position-right) {
    width: 100%;
  }
}
