.state-tag {
  height: 48px;
  padding: 8px 16px;
  border-radius: var(--adm-radius-l);
  font-weight: 400;
  color: #155ACF;
  line-height: 32px;
  font-size: var(--adm-font-size-4);
  display: inline-block;
  box-sizing: border-box;
}
