.flex {
  display: flex;
  align-items: center;

  :global {
    .adm-divider {
      margin: 0 24px;
    }
  }
}

.code {
  min-width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  :global {
    .adm-icon {
      margin-left: 20px;
      display: block;
      --size: var(--adm-font-size-2);
    }
  }
}

.number {
  flex: 1;
}

.pop-number {
  padding-top: 24px;
}
