.list-title {
  display: flex;
  align-items: center;
  padding: 32px 48px;
  justify-content: space-between;
  border-bottom: solid 2px var(--adm-color-border);
  background: #FFFFFF;
  line-height: 32px;

  &.is-sub {
    padding: 20px 48px;
    height: 48px;
    border-bottom: none;
    font-size: var(--adm-font-size-4);

    .main-title {
      color: var(--adm-color-primary);
      background: var(--adm-color-background-primary-opacity-1);
      font-weight: normal;
      padding: 8px 16px;
      border-radius: 24px;
    }

    &:before {
      content: normal;
    }
  }

  &:before {
    content: '';
    display: block;
    width: 6px;
    height: 32px;
    border-radius: 4px;
    background: var(--adm-color-primary);
    margin-right: 16px;
  }
}

.title {
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: center;
}

.subtitle {
  font-weight: normal;
  color: var(--adm-color-weak);
  margin-left: 16px;
}

.extra {
  font-size: var(--adm-font-size-6);

  :global {
    .adm-button {
      font-size: var(--adm-font-size-6);
      padding: 0;
      border: none;
      color:var(--adm-color-primary);
    }
  }
}
