.input-number-unit {
  width: 100%;

  :global {
    .adm-space-item:first-child {
      flex: 1;
    }
  }
}

.unit {
  min-width: 52px;
  &:after {
    content: '\e6b3' !important;
    font-size: var(--adm-font-size-2) !important;
    color: var(--adm-color-text) !important;
  }
}
