.content {
  line-height: 40px;
}

.content-item {
  display: flex;
  font-size: var(--adm-font-size-6);
  align-items: flex-start;

  &.is-block {
    display: block;

    .content, .content-label {
      margin-bottom: var(--gap-vertical);
    }
  }
}

.content-label {
  color: var(--adm-color-weak);
  white-space: nowrap;
  &:after {
    content: 'ï¼š';
  }
}

.content-content {
  flex: 1;
  word-break: break-all;
}

.content-action {
  :global {
    .adm-button {
      padding: 0 6px;
      font-size: var(--adm-font-size-6);
      border: none;
      color: var(--adm-color-primary);

      &:active::before {
        opacity: 0;
      }
    }
  }
}
