.tips {
  color: var(--adm-color-primary) !important;
  margin-left: 8px !important;
  margin-top: 4px !important;
  font-size: 28px !important;
}

.tips-message {
  &:global(.adm-button) {
    padding: 0;
    border: none;
    font-size: unset;
    &:active::before {
      opacity: 0;
    }
  }
}
