.layout {
  font-size: 32px;

  :global {
    .adm-tab-bar-fixed {
      width: 100%;
      flex: 1;
      background: var(--adm-color-white);
      z-index: 999;
      padding-top: 18px;
      border-top: 2px solid var(--adm-color-background-light);

      .adm-tab-bar-wrap {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.tab-bar {

}

.layout-content {
  padding-bottom: 172px;
}
